<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/top :: top}"></head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" id="main_container">

    <div class="row">
        <div class="col">
            <h3>Библиотека</h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div id="booksListArea" class="col">
            <th:block th:each="book: ${books}">
                <a th:href="@{/edit(id=${book.id})}" href="singleBook.html">
                    <h5 th:text="${book.title}">Book title</h5>
                </a>
                <p>
                    <span>Автор: </span>
                    <span th:text="${book.author.name}">Book author</span>

                    <br><span>Жанр: </span>
                    <span th:text="${book.genre.name}">Book genre</span>

                    <th:block th:if="${not #lists.isEmpty(book.comments)}">
                        <br><span>Комментарии: </span>
                        <span th:text="${book.comments}">Book comments</span>
                    </th:block>

                    <br><a th:href="@{/deleteBook/(id=${book.id})}" href="deleteBook.html">удалить книгу</a>
                </p>
            </th:block>
        </div>
    </div>

    <div class="row">
        <div id="addBookArea" class="col">
            <a th:href="@{/addBook}" href="addBook.html"><h6>Добавить книгу</h6></a>
        </div>
    </div>

</div>
<div th:include="~{fragments/bottom :: bottom}"></div>
</body>
</html>